
body {
  background-image: url('/images/stardust.png');
  color: #FFFFFF;
}

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.top-bar {
  background-color: #3C3C3C;
}

.top-bar-section {
  display: inline-block;
  float: right;
}

.top-bar-section li {
  display: inline-block;
  margin-left: 1em;
}

.logo {
  display: inline-block;
  margin: 1em 0;
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}

/*Nicole*/

input {
  color: black;
}

.button {
  background-color: red;
  padding: 10px;
  width: 140px;
  height: 25px;
  margin-top: 50px;
  text-align: center;
}

.meetup {
  background: white;
  color: black;
  border: 1px solid pink;
  margin: 20px;
  padding: 5px;
  width: 500px;
}
