
body {
  background-image: url('/images/stardust.png');
  color: #FFFFFF;
}

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.top-bar {
  background-color: #3C3C3C;
}

.top-bar-section {
  display: inline-block;
  float: right;
}

.top-bar-section li {
  display: inline-block;
  margin-left: 1em;
}

.logo {
  display: inline-block;
  margin: 1em 0;
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}

/*Nicole*/

input {
  color: black;
}

.button {
  background-color: red;
  padding: 10px;
  width: 140px;
  height: 25px;
  margin-top: 50px;
  text-align: center;
  -webkit-box-shadow: 3px 2px 38px 11px rgba(30,30,31,1);
  -moz-box-shadow: 3px 2px 38px 11px rgba(30,30,31,1);
  box-shadow: 3px 2px 38px 11px rgba(30,30,31,1);
}

.button.green {
  background-color: green;
}

.user, .meetup {
  background: #494C69;
  color: white;
  border: 2px solid #292B42;
  border-radius: 2%;
  -webkit-box-shadow: 6px 5px 38px 11px rgba(30,30,31,1);
  -moz-box-shadow: 6px 5px 38px 11px rgba(30,30,31,1);
  box-shadow: 6px 5px 38px 11px rgba(30,30,31,1);
}

.meetup {
  margin: 20px;
  padding: 5px;
  width: 500px;
}

.user {
  margin: 10px;
  padding: 3px;
  width: 78px;
}
.avatar {
  width: 75px;
  height: 75px;
}
