<a href="create">
  <div class="button green">
    Create a meetup!
  </div>
</a>

<h1>Browse Meetups:</h1>

<% @meetups.each do |meetup| %>
  <a href='/meetups/<%= meetup.id %>' >
    <div class="meetup">
      <h2><%= meetup.name %></h2>
      <p><%= meetup.description %></p>
    </div>
  </a>
<% end %>
