
<a href="/create">
  <div class="create">
    Create a meetup!
  </div>
</a>

<h1>Browse Meetups:</h1>

<% @meetups.each do |meetup| %>
  <h2><%= meetup.name %></h2>
  <p><%= meetup.description %></p>
<% end %>
